<div class="container">
  <h1 class="text-center">Track your favorite project</h1>
</div>
<div class="container">
  <ul>
    <li><a href="/project/yexinumbrella">反向傘縮小再進化：迎戰雨季、征服艷陽，優雅俐落每一天！</a></li>
    <li><a href="/project/lessdosoap">LESSDO 世界第一台家用自皂機，自己的肥皂自己做！</a></li>
  </ul>
</div>
<h1 class="text-center my-5">過去一小時金額排行榜</h1>
<div class="container">
  <div class="card-deck mb-3">
    {{#each firstThreeProjects}}
    <div class="card">
      <div class="position-relative"
        style="background-image: url({{this.image}}); background-size: cover; padding-bottom: 64%; background-position: center;">
        <div class="position-absolute" style="top: -0.5em; left: -0.5em;"><span class="badge badge-warning"
            style="font-size: 2em">No.{{this.rank}}</span>
        </div>
      </div>
      <div class="card-body">
        <a href="https://www.zeczec.com/projects/{{this.uri}}" class="stretched-link">
          <h5 class="card-title">{{this.name}}</h5>
        </a>

        <p class="card-text">{{this.type}}｜{{this.category}}｜專案倒數 {{this.left}} {{this.leftUnit}}</p>
        <h3>NT$ {{this.hourRaiseString}}</h3>
        <p class="card-text"><small class="text-muted">數據更新時間 {{this.date}}</small></p>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="list-group">
    {{#each restProjects}}
    <a href="https://www.zeczec.com/projects/{{this.uri}}" class="list-group-item list-group-item-action">
      <div class="row">
        <div class="col-md-8 col-6">
          <h5><span class="badge badge-secondary">No.{{this.rank}}</span> {{this.name}}</h5>
        </div>
        <div class="col-md-4 col-6 text-right">
          <h3>NT$ {{this.hourRaiseString}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <p class="mb-1">{{this.type}}｜{{this.category}}｜專案倒數 {{this.left}} {{this.leftUnit}}</p>
        </div>
        <div class="col-6 text-right">
          <small>數據更新時間 {{this.date}}</small>
        </div>
      </div>
    </a>
    {{/each}}
  </div>
</div>